#cast {
  width: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#play {
  background: #507b6a;
  min-height: 100%;

  .sharing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;

    h1 {
      margin-bottom: 0;
      padding: 0 16px;
      text-align: center;
    }

    h2 {
      margin: 20px 0 8px;
    }

    input {
      width: 300px;
    }
  }

  .lobby {
    display: flex;
    flex-direction: column;
    align-items: center;

    ol {
      font-size: 24px;
      padding-bottom: 18px;
    }

    form {
      display: inline-block;
    }

    input {
      margin: 8px 0;
      width: 150px;
    }
  }

  .decks {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 500px;
    margin: 0 auto;

    .instructions {
      position: absolute;
      top: 20px;
      font-size: 24px;
      width: 30vw;
      transition: all 300ms;
      text-align: center;
    }

    &.deck-none > .instructions {
      top: -600px;
    }

    &.deck-draw > .instructions {
      max-width: 160px;
      left: 0;
    }

    &.deck-discard > .instructions {
      right: 0;
      width: 60vw;
      max-width: 330px;
    }

    &.deck-reveal > .instructions {
      width: 80vw;
      max-width: 500px;
    }

    &.deck-none > div,
    &.deck-reveal > div,
    &.deck-draw > .drawn,
    &.deck-discard > .deck,
    &.deck-discard > .discard {
      top: -600px;
    }

    svg {
      max-width: 25vw;
      height: 100%;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      transition: all 300ms;
      top: 0;
    }

    > div + div {
      margin-left: 5vw;
    }

    h1 {
      margin: 0;
      margin-bottom: 8px;
    }
  }

  .cards {
    display: grid;
    margin: 0 auto;
    padding: 16px 0;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    width: 100%;
    max-width: 470px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .overlay {
    color: white;
    text-align: center;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
