#spectate {
  background: #507b6a;
  min-height: 100%;

  .sharing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;

    h1 {
      margin-bottom: 0;
      padding: 0 16px;
      text-align: center;
    }

    h2 {
      margin: 20px 0 8px;
    }

    input {
      width: 300px;
    }
  }

  .lobby {
    display: flex;
    flex-direction: column;
    align-items: center;

    ol {
      font-size: 24px;
      padding-bottom: 18px;
    }

    form {
      display: inline-block;
    }

    input {
      margin: 8px 0;
      width: 150px;
    }
  }

  .instructions {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 24px;
  }

  .decks {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 500px;
    margin: 0 auto;

    svg {
      max-width: 25vw;
      height: 100%;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      transition: all 300ms;
      top: 0;
    }

    > div + div {
      margin-left: 5vw;
    }

    h1 {
      margin: 0;
      margin-bottom: 8px;
    }
  }

  .super-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 40px;

    > div {
      padding: 0 16px 8px;

      &.active {
        background: rgba(255, 255, 255, 0.5);
      }

      &.out {
        background: rgba(0, 0, 0, 0.5);
      }
    }

    h1 {
      text-align: center;
      margin: 0;
    }
  }

  .cards {
    display: grid;
    margin: 0 auto;
    padding-top: 8px;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    width: 100%;
    max-width: 470px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .overlay {
    color: white;
    text-align: center;
  }

  table {
    background: white;
    color: black;
    margin: 0 auto;
    padding: 8px;

    .doubled {
      background: #ffa3a3;
    }

    .first {
      background: #89d889;
    }

    span {
      color: green;
    }

    th {
      min-width: 100px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
